@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
    <div class="text-center">
        <!--This is purely for fun, I definitely don't have a privacy policy for this app, but the default files gave me one, so why not use it?-->
        <img src="~/images/4l1i7d.jpg" />
    </div>